:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
}

h3 {
  font-size: 1.25em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f1f1f1;
  color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.active {
  background-color: #646cff;
  color: white;

  svg {
    fill: white;
    stroke: white;
  }
}

.button-square {
  aspect-ratio: 1;
  padding: 0.35em 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.vstack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.align-items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}